{% extends 'layouts/form.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form action="" method="post">
    <input type="text" placeholder="Email" name="email" value="{{request.form.email}}">
    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <input class="btn btn-default" type="submit" value="Login">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
 </form>

<p class="text-center"><a href="{{ url_for('register') }}">Don't have an account?</a></p>
{% endblock %}