{% extends 'layouts/form.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br>
<form action="" method="post">
    <center>
    <input style="text-align: center" type="text" placeholder="Email" name="email" value="{{request.form.email}}">
    <br>
    <input style="text-align: center"  type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <br>
    <input style="margin-top:10px" type="submit" value="Submit" class="btn btn-primary">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

  </center>

 </form>

<p class="text-center"><a href="{{ url_for('register') }}">Don't have an account?</a></p>
{% endblock %}
