{% extends 'layouts/form.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<form action="" method="post">
    <input type="text" placeholder="Name" name="name" value="{{request.form.name}}">
    <input type="text" placeholder="Email" name="email" value="{{request.form.email}}">
    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <input type="password" placeholder="Confirm Password" name="password_confirmation" value="{{request.form.password_confirmation }}">

    <input class="btn btn-default" type="submit" value="Login">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
 </form>

{% endblock %}