{% extends 'layouts/form.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<form action="" method="post">
    <br><br><br><br><br><br><br><br>

    <center>
    <input type="text" placeholder="Name" name="name" value="{{request.form.name}}">
    <br>
    <input type="text" placeholder="Email" name="email" value="{{request.form.email}}">
    <br>
    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <br>
    <input type="password" placeholder="Confirm Password" name="password_confirmation" value="{{request.form.password_confirmation }}">
    <br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    <input type="submit" value="Submit" class="btn btn-primary">

    </center>

 </form>

{% endblock %}
